<div class="container">
  <div class="row d-flex justify-content-center align-items-center" style="height: 500px">
      <p class="font-weight-bold h4">本当に退会しますか？</p><br>


  退会すると、会員登録情報や<br>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>
<%= link_to '退会しない', my_page_path(current_customer) %>
<%= link_to '退会する', customers_withdraw_path, method: :patch %>
  </div>
</div>